target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.log
*.ctxt
*.jar
*.war
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.oracle.com/technetwork/java/javase/troubleshoot-139205.html#g6124
hs_err_pid*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
